asyncpg
# FastAPI
fastapi
google-generativeai
gradio
httpx

# LangChain & Google Gemini
langchain
langchain-community
langchain-google-genai
langgraph
pgvector
psycopg2-binary

#Others
pydantic-settings
python-dotenv

# Database
sqlalchemy
uvicorn[standard]
